<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cuny.edu.com.resumebuilder" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cuny.edu.com.resumebuilder.MainActivity"
            android:label="@string/resume_builder"
            android:parentActivityName="cuny.edu.com.resumebuilder.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cuny.edu.com.resumebuilder.MenuActivity" />
        </activity>

        <activity
            android:name="cuny.edu.com.resumebuilder.CalendarViewActivity"
            android:label="scheduler"
            android:parentActivityName="cuny.edu.com.resumebuilder.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cuny.edu.com.resumebuilder.MenuActivity" />
        </activity>

        <activity
            android:name="cuny.edu.com.resumebuilder.Calendar2ViewActivity"
            android:label="scheduler2"
            android:parentActivityName="cuny.edu.com.resumebuilder.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cuny.edu.com.resumebuilder.MenuActivity" />
        </activity>

        <activity
            android:name="cuny.edu.com.resumebuilder.WebViewActivity"
            android:label="webview"
            android:screenOrientation="landscape"
            android:parentActivityName="cuny.edu.com.resumebuilder.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cuny.edu.com.resumebuilder.MenuActivity" />
        </activity>


        <activity
            android:name="cuny.edu.com.resumebuilder.WebLocalViewActivity"
            android:label="webview"
            android:parentActivityName="cuny.edu.com.resumebuilder.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cuny.edu.com.resumebuilder.MenuActivity" />
        </activity>


        <activity
            android:name="cuny.edu.com.resumebuilder.FileUploadActivity"
            android:label="fileupload"
            android:parentActivityName="cuny.edu.com.resumebuilder.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cuny.edu.com.resumebuilder.MenuActivity" />
        </activity>

        <activity
            android:name="cuny.edu.com.resumebuilder.CourseSearchActivity"
            android:label="coursesearch"
            android:parentActivityName="cuny.edu.com.resumebuilder.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cuny.edu.com.resumebuilder.MenuActivity" />
        </activity>

        <activity
            android:name="cuny.edu.com.resumebuilder.CourseResultActivity"
            android:label="courseresult"
            android:parentActivityName="cuny.edu.com.resumebuilder.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cuny.edu.com.resumebuilder.MenuActivity" />
        </activity>
        <activity
            android:name="cuny.edu.com.resumebuilder.CourseScheduleActivity"
            android:label="courseresult"
            android:parentActivityName="cuny.edu.com.resumebuilder.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cuny.edu.com.resumebuilder.MenuActivity" />
        </activity>

    </application>


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

</manifest>
